<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs') %>
        <title>Detalles</title>
        <link rel="stylesheet" href="/css/productos/detalle-producto.css">
</head>

<body>


    <%- include('../partials/header') %>

        <main>
            <div class="main">
                <div class="descripcion">
                    <img src="/images/productos/<%= product.imagen%>" id="producto">
                    <div class="descripcion-producto">
                        <h3 id="titulo"><%= product.nombre %></h3>
                        <span class="fa-solid fa-dollar-sign precio">
                            <%= product.precio%>
                        </span>
                        <p id="clase">
                            <%= product.clase.nombre%>
                        </p>
                        <p id="parrafo">
                            Este producto posee un descuento del: <br>
                            <%= product.descuento %>%
                        </p>
                    </div>
                    <div class="boton">
                        <input type="button" value="Agregar al Carrito" >
                    </div>
                </div>
                <h3 id="similares">Productos similares</h3>
                <div class="productos-similares">
                    <% productosSimilar.forEach(similares => { %>
                        <img src="/images/productos/<%= similares.imagen %>">
                        <div class="descripcion-productos">
                            <h3 id="titulo"><%= similares.nombre %></h3 id="titulo">
                            <span class="fa-solid fa-dollar-sign precio"><%= similares.precio %></span>
                            <p id="clase"><%= similares.clase.nombre  %></p>
                            <p id="parrafo">
                                Y con un descuento del: <br>
                                <%= product.descuento %>%
                            </p>
                            <span>Envio Gratis</span>
                        </div>
                    <% }) %>
                    <div class="ver-producto">
                        <input type="button" value="Ver producto">
                    </div>
                </div>
            </div>
        </main>

        <%- include('../partials/footer') %>

</body>

</html>