<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs') %>
        <title>Detalles</title>
        <link rel="stylesheet" href="/css/detalle-producto.css">
</head>

<body>


    <%- include('../partials/header') %>

        <main>
            <div class="main">
                <img src="/images/<%= product.imagen%>" id="producto">
                <div class="descripcion">
                    <h3>Detalles del producto</h3>
                    <span class="fa-solid fa-dollar-sign">
                        <%= product.precio%>
                    </span>
                    <p id="clase">
                        <%= product.clase %>
                    </p>
                    <h3 id="detalles">
                        <%= product.nombre %>
                    </h3>
                    <p id="parrafo">
                        Este producto posee un descuento del: <br>
                        <%= product.descuento %>%
                    </p>
                </div>
                <h3 id="similares">Productos similares</h3>
                <div class="productos-similares">
                    <% productosSimilar.forEach(similares => { %>
                        <img src="/images/<%= similares.imagen %>">
                        <div class="descripcion-producto">
                            <p><%= similares.nombre %></p>
                            <p><%= similares.clase  %></p>
                            <p><%= similares.precio %></p>
                            <span>Envio Gratis</span>
                        </div>
                    <% }) %>
                </div>
                <div class="reseñas">
                    <h3 id="reseñas">Opiniones y reseñas</h3>
                    <h3 id="comentarios">Comentarios</h3>
                    <div class="comentarios">
                        <span class="fa-solid fa-user user"></span>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta vero iste harum blanditiis
                            consequatur placeat, qui sunt beatae delectus. Adipisci mollitia autem in velit rem officiis
                            dignissimos ut voluptatum maiores.</p>
                    </div>
                </div>
            </div>
        </main>

        <%- include('../partials/footer') %>

</body>

</html>