<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs') %>
        <link rel="stylesheet" href="/css/productos/form-edit.css">
        <title>Formulario de Edicion</title>
        <script src="/js/form-edit.js"></script>
</head>

<body>
    <%- include('../partials/header') %>
        <main>
            <form method="POST" action="/productos/<%= product.id %>/edit?_method=PUT" id="form"
                enctype="multipart/form-data">
                <div class="form">
                    <h3>Formulario de Edicion</h3>
                    <label for="nombre">Nombre</label>
                    <input type="text" name="nombre" id="nombre" value="<%= product.nombre %>">
                    <div class="error-nombre"></div>
                    <label for="descuento">Descuento</label>
                    <textarea name="descuento" id="descuento"><%= product.descuento %></textarea>
                    <div class="error-descuento"></div>
                    <div class="btn">
                        <img src="/images/productos/<%= product.imagen %>" alt="Imagen de <%= product.nombre %>" width="200"> 
                    </div>
                    <h3>Categoria</h3>
                    <select name="clase" id="categoria">
                        <option value="1">Electrodomesticos</option>
                        <option value="2">Lavado</option>
                        <option value="3">Tv y audio</option>
                        <option value="4">Congeladores</option>
                        <option value="5">Celular</option>
                        <option value="6">Nootebook</option>
                        <option value="7">Componente</option>
                        <option value="8">Tablet</option>
                    </select>
                    <div class="error-categoria"></div>
                    <h3>Precio</h3>
                    <div class="error-precio"></div>
                    <input type="number" name="precio" id="precio" value="<%= product.precio%>">
                    <input type="submit" name="submit" value="Enviar" id="boton">
                </div>
            </form>

        </main>
        <%- include('../partials/footer') %>
</body>

</html>