<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs') %>
        <link rel="stylesheet" href="/css/form-edit.css">
        <title>Formulario de Edicion</title>
</head>

<body>
    <%- include('../partials/header') %>
        <main>
            <form method="POST" action="/productos/<%= product.id %>/edit?_method=PUT" enctype="multipart/form-data">
                <div class="form">
                    <h3>Formulario de Edicion</h3>
                    <label for="nombre">Nombre</label>
                    <input type="text" name="nombre" id="nombre" value="<%= product.nombre %>">
                    <label for="descuento">Descuento</label>
                    <textarea name="descuento"><%= product.descuento %></textarea>
                    <div class="btn">
                        <p>Ingrese una imagen</p>
                        <input type="file" name="imagen" class="imagen" />
                    </div>
                    <h3>Categoria</h3>
                    <select name="clase">
                        <option value="<%= product.clase %>">
                            <%= product.clase %>
                        </option>
                        <option value="electrodomesticos">Electrodomesticos</option>
                        <option value="lavado">Lavado</option>
                        <option value="tv_y_audio">Tv y audio</option>
                        <option value="congeladores">Congeladores</option>
                    </select>
                    <h3>Precio</h3>
                    <input type="number" name="precio" id="precio" value="<%= product.precio%>">
                    <input type="submit" name="submit" value="Enviar" id="boton">
                </div>
            </form>

        </main>
        <%- include('../partials/footer') %>
</body>

</html>