<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs') %>
        <link rel="stylesheet" href="/css/form-edit.css">
        <title>Formulario de Edicion</title>
</head>

<body>
    <%- include('../partials/header') %>
        <main>
            <form method="POST" action="/productos/<%= product.id %>/edit?_method=PUT" >
                <div class="form">
                    <h3>Formulario de Edicion</h3>
                    <label for="nombre">Nombre</label>
                    <input type="text" name="nombre" id="nombre" value="<%= product.nombre %>">
                    <label for="descuento">Descuento</label>
                    <textarea name="descuento"><%= product.descuento %></textarea>
                    <div class="btn">
                        <p>Ingrese una imagen</p>
                        <input type="file" name="archivo" class="archivo" />
                    </div>
                    <h3>Categoria</h3>
                    <select form="clase" name="clase">
                        <option>
                            <%= product.clase %>
                        </option>
                        <option>Electrodomesticos</option>
                        <option>Tegnologia</option>
                        <option>Tv y audio</option>
                    </select>
                    <h3>Precio</h3>
                    <input type="number" name="precio" id="precio" value="<%= product.precio%>">
                    <input type="submit" name="submit" value="Enviar" id="boton">
                </div>
            </form>

        </main>
        <%- include('../partials/footer') %>
</body>

</html>