<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/style_home.css" />
  <link rel="shortcut icon" href="/images/logo.ico" type="image/x-icon">
  <script src="https://kit.fontawesome.com/e6313bd8bc.js" crossorigin="anonymous"></script>
  <title> Startech </title>
</head>

<body>

  <%- include('./partials/header') %>

    <main>
      <h2>Basado en su ultima visita</h2>

      <section class="articulos" id="articulos">
        <% for (let i=0; i < productos.length - 4; i++) { %>
          <div class="producto">
            <img src="/images/<%= productos[i].imagen %>" alt="Imagen de Placa de Video">
            <div class="descripcion" onclick="location.href= '/productos/detalle/<%= productos[i].id%>'">
              <h4>
                <%= productos[i].nombre %>
              </h4>
              <p id="precios"></span>$<%= productos[i].precio %>
              </p>
              <p id="descuentos">
                <%= productos[i].descuento%>% OFF
              </p>
              <p id="envio">Envio Gratis</p>
            </div>
          </div>
          <% } %>
      </section>

      <h2>Ofertas destacadas</h2>
      <section class="ofertas" id="ofertas">
        <% for (let i=4; i < productos.length; i++) { %>
          <div class="producto">
            <img src="/images/<%= productos[i].imagen %>" alt="Imagen de Placa de Video">
            <div class="descripcion" onclick="location.href= '/productos/detalle/<%= productos[i].id%>'">
              <h4>
                <%= productos[i].nombre %>
              </h4>
              <p id="precios"></span>$<%= productos[i].precio %>
              </p>
              <p id="descuentos">
                <%= productos[i].descuento%>% OFF
              </p>
              <p id="envio">Envio Gratis</p>
            </div>
          </div>
          <% } %>
      </section>
    </main>

    <%- include('./partials/footer') %>

</body>

</html>