<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/style_home.css" />
    <title> Startech </title>
</head>

<body>

  <%- include('../partials/header') %>

    <main>
      <h2>Basado en su ultima visita</h2>

      <section class="articulos" id="articulos">
        <% for (let i=0; i < productos.length - 4; i++) { %>
          <div class="producto">
            <img src="/images/productos/<%= productos[i].imagen %>" alt="Imagen de <%= productos[i].nombre %>">
            <div class="descripcion" onclick="location.href= '/productos/detalle/<%= productos[i].id%>'">
              <h4>
                <%= productos[i].nombre %>
              </h4>
              <p id="precios"></span>$<%= productos[i].precio %>
              </p>
              <p id="descuentos">
                <%= productos[i].descuento%>% OFF
              </p>
              <p id="envio">Envio Gratis</p>
            </div>
          </div>
          <% } %>
      </section>

      <h2>Ofertas destacadas</h2>
      <section class="ofertas" id="ofertas">
        <% for (let i=4; i < productos.length; i++) { %>
          <div class="producto">
            <img src="/images/productos/<%= productos[i].imagen %>" alt="Imagen de <%= productos[i].nombre %>">
            <div class="descripcion" onclick="location.href= '/productos/detalle/<%= productos[i].id%>'">
              <h4>
                <%= productos[i].nombre %>
              </h4>
              <p id="precios"></span>$<%= productos[i].precio %>
              </p>
              <p id="descuentos">
                <%= productos[i].descuento%>% OFF
              </p>
              <p id="envio">Envio Gratis</p>
            </div>
          </div>
          <% } %>
      </section>

      <!-- Este boton es para acceder al listado, cuando esten los usuarios y todo
        hacemos que solo sea visible para usuarios admin -->
      <input type="submit" id="boton_agregar" value="listado de producto" onclick="location.href= '/productos/Listado'">
    </main>

    <%- include('../partials/footer') %>

</body>

</html>