<%- include('../partials/head') %>
<title>Perfil Edit</title>
<link rel="stylesheet" href="/css/users/perfilEdit.css" />

<body>
  <%- include('../partials/header') %>
  <main>
    <form action="/usuarios/perfilEdit/<%= usuario.id %>" method="POST" enctype="multipart/form-data">
      <div class="perfil">
        <img src="/images/usuarios/<%= usuario.perfil %>" alt="imagen de perfil" class="perfil" />
        <div class="perfil-info">
          <h1>Perfil</h1>
          <h2>Cambiar Nombre</h2>
          <input type="text" name="username" id="username" />
          <h2>Cambiar Correo</h2>
          <input type="email" name="email" id="email" />
          <input type="hidden" name="original" value="<%= usuario.email %>" />
          <div class="perfil-foto">
            <button type="submit">
              <span></span>
              <span></span>
              <span></span>
              <span></span> Guardar
            </button>
          </div>
        </div>
      </div>
    </form>
  </main>
</body>
